* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5; /* Updated background color */
  color: #333; /* Updated default text color */
}

.app {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

/* Header */
header {
  margin-top: 10%;
  text-align: center;
}

/* Main content */
main {
  padding: 20px; /* Added padding */
}


.container {
  width: 80%;
  background-color: white;
  margin: 20px auto; 
  padding: 20px; 
  
}

.addForm {
  width: 80%;
  margin: 20px auto; 

}


.formItem {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  margin-bottom: 15px;
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font: 400;
  flex: 1; /* Let the input take remaining space */
}

h1 {
  padding: 20px 0;
}


ul{
  list-style: none;
  
}

li {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(77, 69, 69, 0.16) ;
  display: flex;
  justify-content: space-between;
}

.bundle{
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}


input[type="checkbox"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 4px;
  margin-right: 10px;
  position: relative
}

.completed {
  text-decoration: line-through;
}

.base{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  .btn{
    cursor: pointer;
  }
  .btn-dis{
    color: #cccccc;
  }
}


/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.clear{
  cursor: pointer;;
}

.errorMsg{
  color: rgba(255, 11, 11, 0.699);
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
